/* Modelo de caja en CSS

content --  Elemento Definido
padding -- Espacio entre el contenido y borde
border  --  Borde del elemento
margin  --  Margen del elemento

*/

p{
    background: green;
    padding: 1rem;
    border: 1rem solid black;
    margin: 1rem;
    border-radius: 1rem;
}